version: 2.1

orbs:
  telemetry:
    orbs:
      rebar3: tsloughter/rebar3@0.6.3
      codecov: codecov/codecov@1.0.4

    jobs:
      build_and_test:
        parameters:
          version:
            description: The Erlang/OTP docker image tag to use.
            type: string
        executor:
          name: rebar3/erlang
          tag: <<parameters.version>>
        steps:
          - checkout
          - rebar3/with_deps_cache:
              cache_key_postfix: -<<parameters.version>>
              steps:
                - rebar3/compile
                - rebar3/dialyzer
                - rebar3/xref
                - rebar3/ct

                - store_test_results:
                    path: ~/project/_build/test/logs/
                - store_artifacts:
                    path: ~/project/_build/test/logs
                    destination: common_test

                - rebar3/cover
                - run: rebar3 as test covertool generate

                - codecov/upload:
                    file: _build/test/covertool/telemetry.covertool.xml
                    flags: otp<<parameters.version>>

workflows:
  build_and_test:
    jobs:
      - telemetry/build_and_test:
          version: "21"
      - telemetry/build_and_test:
          version: "20"
      - telemetry/build_and_test:
          version: "19"
      - telemetry/build_and_test:
          version: "18"
