name: Test

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  build:
    name: Test on OTP ${{ matrix.otp_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        otp_version: ["23.2.1", "22.3.4.9", "21.3.8.17", "20.3.8.26"]
        os: [ubuntu-latest]
    env:
      OTP_VERSION: ${{ matrix.otp_version }}
    steps:
      - uses: actions/checkout@v2
      - uses: gleam-lang/setup-erlang@v1.1.2
        with:
          otp-version: ${{ matrix.otp_version }}
      - uses: actions/cache@v2
        name: Cache
        with:
          path: |
            _build
          key: ${{ runner.os }}-build-${{ matrix.otp_version }}-${{ hashFiles(format('rebar.lock')) }}-1
          restore-keys: |
            ${{ runner.os }}-build-${{ matrix.otp_version }}-1-
      - name: Compile
        run: rebar3 compile
      - name: Common Test tests
        run: rebar3 ct --cover
      - name: XRef
        run: rebar3 xref
  dialyzer:
    name: Dialyze on OTP ${{ matrix.otp_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        otp_version: ["23.2.1", "22.3.4.9", "21.3.8.17", "20.3.8.26"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: gleam-lang/setup-erlang@v1.1.2
        with:
          otp-version: ${{ matrix.otp_version }}
      - uses: actions/cache@v2
        name: Cache
        with:
          path: |
            _build
          key: ${{ runner.os }}-dialyzer-${{ matrix.otp_version }}-${{ hashFiles('rebar.lock') }}-1
          restore-keys: |
            ${{ runner.os }}-dialyzer-${{ matrix.otp_version }}-1-
      - name: Compile
        run: rebar3 compile
      - name: Dialyzer
        run: rebar3 dialyzer
